repositories/
summary-licenses-csv/
summary-licenses-json/
summary-licenses-sql/
summary-licenses-filter/
scancode-toolkit/
graphs/
Domains_of_5,000_GitHub_Repositories_-_Public_-_Domains.csv
.vscode/
analysis_summary.csv
src/__pycache__
*.csv#
